body {
  /* background-color: black !important; */
}

.ind_Poster_card {
  /* height: 350px;
  width: 250px; */
  display: inline-flex;
  vertical-align: top;
  border: 0;
}

.ind_Poster_card img {
  height: 595px;
  width: 420px;
  object-fit: cover;
  object-position: middle;
  /* border: solid 8px white; */
  border-radius: 0;
  border: 0;
  filter: blur(0.5px);
}

.poster_card {
  /* height: 350px;
  width: 250px; */
  display: inline-flex;
  vertical-align: top;
  margin: 5px;
  margin-top: 8px;
  border:0;
}

.poster_card img {
  height: 350px;
  width: 250px;
  object-fit: cover;
  object-position: middle;
  /* border: solid 8px white; */
  border-radius: 0;
  filter: blur(0.5px);
}

.poster_quote {
  font-size: 40px;
  text-align: center;
  padding-top: 20%;
}

.poster_author {
  text-align: center;
}



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
